{% extends 'base.html.twig' %}

{% block body %}
<div>
    <h1>Edit User</h1>

    Total appointments: {{ user.student.appointments.count }}

    <hr>
    {{ include('user/_form.html.twig') }}
</div>

{% endblock %}
